{{> head}}
{{> navbar}}
<div class="row">

    <div class="col-8">
        <h1>Capitán América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, eum. Ipsa, 
            error vitae, libero natus corrupti nemo odio assumenda laborum suscipit, minus fugiat! 
            Est dolorem nostrum, fugit doloribus reprehenderit repudiandae!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>

</div>
{{> footer}}